* {
    margin: 0%;
    padding: 0% ;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding-top: 4rem;
    gap: 1rem;
    background-attachment: fixed;
    background-size: cover;	
    background-position: center;
    height: 100vh;
}

.bg-text-animation {
    position: absolute;
    top: 7rem;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 3px #bbbbc9;
    -webkit-text-fill-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -1;
    user-select: none;
}

.img-logo {
    width: 10rem;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 5px;
}

.links {
    margin-top: 1rem;
}

.sosmed i {
    font-size: 1.5rem;
    color: #676779;
}

.sosmed i {
    color: #000000;
}

.sosmed a:not(:last-child) {
    margin-right: 1rem;
}

ul {
    width: 80%;
    max-width: 40rem;
}

ul li {
    list-style: none;
}

ul.links li:not(:last-child) {
    margin-bottom: 1rem;
}

.link-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbbbc9;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 8px 10px 0 #39393d;
    border: 2px solid #bbbbc9;
}

.link-card:hover {
    border: 2px solid black;
}

.links .link-icon {
    background-image: linear-gradient(to top, #888896, #39393d);
    padding: 0.5rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.links .link-icon i {
    color: black;
}

.link-action {
    color: #39393d;
    cursor: pointer;
    padding: 10px;
}

#toast {
    width: max-content;
    position: fixed;
    top: 0;
}

.toast-container {
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    animation: muncul 300ms ease-in-out;
}

.toast-gone {
    animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }
    to {
opacity: 1;
transform: translateY(0);
    }
}
@keyframes hilang {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
